*~
target/
.classpath
.project
.settings/
.DS_Store
/test/applet/NetLogo.jar
/test/applet/NetLogoLite.jar
/test/benchmarks/firebig*.csv
/index.conf
/Alternative Visualizations/Ethnocentrism - Alternative Visualization.png
/Alternative Visualizations/Flocking - Alternative Visualizations.png
/Alternative Visualizations/Heat Diffusion - Alternative Visualization.png
/Alternative Visualizations/Virus - Alternative Visualization.png
/Alternative Visualizations/Virus - Circle Visualization.png
/Code Examples/Ask Ordering Example.png
/Code Examples/Ask-Concurrent Example.png
/Code Examples/Bounce Example.png
/Code Examples/Box Drawing Example.png
/Code Examples/Breed Procedures Example.png
/Code Examples/Breeds and Shapes Example.png
/Code Examples/Circular Path Example.png
/Code Examples/Color Chart Example.png
/Code Examples/Communication-T-P Example.png
/Code Examples/Communication-T-T Example.png
/Code Examples/Diffuse Off Edges Example.png
/Code Examples/File Output Example.png
/Code Examples/Fully Connected Network Example.png
/Code Examples/Extensions Examples/gis/GIS General Examples.png
/Code Examples/Extensions Examples/gis/GIS Gradient Example.png
/Code Examples/Extensions Examples/nw/NW General Examples.png
/Code Examples/Extensions Examples/rnd/Rnd Example.png
/Code Examples/Extensions Examples/view2.5d/2.5d Patch View Example.png
/Code Examples/Extensions Examples/csv/CSV Example.png
/Code Examples/Extensions Examples/arduino/
/Code Examples/Extensions Examples/bitmap/
/Code Examples/Grouping Turtles Example.png
/Code Examples/Halo Example.png
/Code Examples/Hatch Example.png
/Code Examples/Hex Cells Example.png
/Code Examples/Hex Turtles Example.png
/Code Examples/Hill Climbing Example.png
/Code Examples/Histogram Example.png
/Code Examples/HSB and RGB Example.png
/Code Examples/Image Import Example.png
/Code Examples/Intersecting Lines Example.png
/Code Examples/Intersecting Links Example.png
/Code Examples/Label Position Example.png
/Code Examples/Lattice-Walking Turtles Example.png
/Code Examples/Line of Sight Example.png
/Code Examples/Link Breeds Example.png
/Code Examples/Link Lattice Example.png
/Code Examples/Link-Walking Turtles Example.png
/Code Examples/Look Ahead Example.png
/Code Examples/Lottery Example.png
/Code Examples/Many Regions Example.png
/Code Examples/Mobile Aggregation Example.png
/Code Examples/Moore & Von Neumann Example.png
/Code Examples/Mouse Drag Multiple Example.png
/Code Examples/Mouse Drag One Example.png
/Code Examples/Move Towards Target Example.png
/Code Examples/Extensions Examples/vid/Movie Recording Example.png
/Code Examples/Myself Example.png
/Code Examples/Neighborhoods Example.png
/Code Examples/Network Example.png
/Code Examples/Network Import Example.png
/Code Examples/Next Patch Example.png
/Code Examples/One Turtle Per Patch Example.png
/Code Examples/Extensions Examples/palette/Palette Example.png
/Code Examples/Partners Example.png
/Code Examples/Patch Clusters Example.png
/Code Examples/Patch Coordinates Example.png
/Code Examples/Perspective Demos/GasLab Gas in a Box (Perspective Demo).png
/Code Examples/Random Grid Walk Example.png
/Code Examples/Random Network Example.png
/Code Examples/Random Seed Example.png
/Code Examples/Random Walk Example.png
/Code Examples/Scale-color Example.png
/Code Examples/Scatter Example.png
/Code Examples/Shape Animation Example.png
/Code Examples/State Machine Example.png
/Code Examples/Tie System Example.png
/Code Examples/Transparency Example.png
/Code Examples/Tutorial 3.png
/Code Examples/Vision Cone Example.png
/Code Examples/Wall Following Example.png
/Curricular Models/EACH/
/Curricular Models/GasLab/
/Curricular Models/MaterialSim/
/Curricular Models/BEAGLE Evolution/Bird Breeder.png
/Curricular Models/BEAGLE Evolution/Bug Hunt Coevolution.png
/Curricular Models/BEAGLE Evolution/Bug Hunt Consumers.png
/Curricular Models/BEAGLE Evolution/Bug Hunt Drift.png
/Curricular Models/BEAGLE Evolution/Bug Hunt Predators and Invasive Species.png
/Curricular Models/BEAGLE Evolution/DNA Protein Synthesis.png
/Curricular Models/BEAGLE Evolution/DNA Replication Fork.png
/Curricular Models/BEAGLE Evolution/Fish Tank Genetic Drift.png
/Curricular Models/BEAGLE Evolution/Plant Hybridization.png
/Curricular Models/BEAGLE Evolution/Plant Speciation.png
/Curricular Models/BEAGLE Evolution/Red Queen.png
/Curricular Models/BEAGLE Evolution/Altruism.nlogo
/Curricular Models/BEAGLE Evolution/Bug Hunt Camouflage.nlogo
/Curricular Models/BEAGLE Evolution/Bug Hunt Speeds.nlogo
/Curricular Models/BEAGLE Evolution/Cooperation.nlogo
/Curricular Models/BEAGLE Evolution/Daisyworld.nlogo
/Curricular Models/BEAGLE Evolution/GenDrift T interact.nlogo
/Curricular Models/BEAGLE Evolution/Guppy Spots HubNet.nlogo
/Curricular Models/BEAGLE Evolution/HubNet Activities/Bug Hunters Camouflage HubNet.nlogo
/Curricular Models/BEAGLE Evolution/Mimicry.nlogo
/Curricular Models/BEAGLE Evolution/Wolf Sheep Predation.nlogo
/Curricular Models/ProbLab/9-Blocks.nlogo
/Curricular Models/ProbLab/Central Limit Theorem.nlogo
/Curricular Models/ProbLab/Dice Stalagmite.nlogo
/Curricular Models/ProbLab/Dice.nlogo
/Curricular Models/ProbLab/Equidistant Probability.nlogo
/Curricular Models/ProbLab/Expected Value Advanced.nlogo
/Curricular Models/ProbLab/Expected Value.nlogo
/Curricular Models/ProbLab/Partition Permutation Distribution.nlogo
/Curricular Models/ProbLab/Prob Graphs Basic.nlogo
/Curricular Models/ProbLab/ProbLab Genetics.nlogo
/Curricular Models/ProbLab/Random Basic Advanced.nlogo
/Curricular Models/ProbLab/Random Basic.nlogo
/Curricular Models/ProbLab/Random Combinations and Permutations.nlogo
/Curricular Models/ProbLab/Sample Stalagmite.nlogo
/Curricular Models/ProbLab/Shuffle Board.nlogo
/Curricular Models/ProbLab/Stochastic Patchwork.nlogo
/Curricular Models/Connected Chemistry/Connected Chemistry 1 Bike Tire.png
/Curricular Models/Connected Chemistry/Connected Chemistry 2 Changing Pressure.png
/Curricular Models/Connected Chemistry/Connected Chemistry 3 Circular Particles.png
/Curricular Models/Connected Chemistry/Connected Chemistry 4 Number and Pressure.png
/Curricular Models/Connected Chemistry/Connected Chemistry 5 Temperature and Pressure.png
/Curricular Models/Connected Chemistry/Connected Chemistry 6 Volume and Pressure.png
/Curricular Models/Connected Chemistry/Connected Chemistry 7 Ideal Gas Law.png
/Curricular Models/Connected Chemistry/Connected Chemistry 8 Gas Particle Sandbox.png
/Curricular Models/Connected Chemistry/Connected Chemistry Atmosphere.png
/Curricular Models/Connected Chemistry/Connected Chemistry Gas Combustion.png
/Curricular Models/Connected Chemistry/Connected Chemistry Reversible Reaction.png
/Curricular Models/Connected Chemistry/Connected Chemistry Rusting Reaction.png
/Curricular Models/Connected Chemistry/Connected Chemistry Solid Combustion.png
/Curricular Models/epiDEM/epiDEM Basic.png
/Curricular Models/epiDEM/epiDEM Travel and Control.png
/Curricular Models/Lattice Land/Lattice Land - Triangles Dissection.png
/Curricular Models/Lattice Land/Lattice Land - Triangles Explore.png
/Curricular Models/ModelSim/Evolution/Bacteria Food Hunt.png
/Curricular Models/ModelSim/Evolution/Bacteria Hunt Speeds.png
/Curricular Models/ModelSim/Evolution/Bug Hunt Disruptions.png
/Curricular Models/ModelSim/Evolution/Bug Hunt Environmental Changes.png
/Curricular Models/ModelSim/Evolution/Bug Hunt Predators and Invasive Species.png
/Curricular Models/ModelSim/Population Biology/Bug Hunt Disruptions.png
/Curricular Models/ModelSim/Population Biology/Bug Hunt Environmental Changes.png
/Curricular Models/ModelSim/Population Biology/Bug Hunt Predators and Invasive Species - Two Regions.png
/Curricular Models/ProbLab/4 Block Stalagmites.png
/Curricular Models/ProbLab/4 Block Two Stalagmites.png
/Curricular Models/ProbLab/4 Blocks.png
/Curricular Models/ProbLab/Histo Blocks.png
/Curricular Models/ProbLab/Sampler Solo.png
/Curricular Models/Urban Suite/Urban Suite - Awareness.png
/Curricular Models/Urban Suite/Urban Suite - Cells.png
/Curricular Models/Urban Suite/Urban Suite - Economic Disparity.png
/Curricular Models/Urban Suite/Urban Suite - Path Dependence.png
/Curricular Models/Urban Suite/Urban Suite - Pollution.png
/Curricular Models/Urban Suite/Urban Suite - Positive Feedback.png
/Curricular Models/Urban Suite/Urban Suite - Recycling.png
/Curricular Models/Urban Suite/Urban Suite - Sprawl Effect.png
/Curricular Models/Urban Suite/Urban Suite - Structure from Randomness 1.png
/Curricular Models/Urban Suite/Urban Suite - Structure from Randomness 2.png
/Curricular Models/Urban Suite/Urban Suite - Tijuana Bordertowns.png
/HubNet Activities/Bird Breeders HubNet.nlogo
/HubNet Activities/Bug Hunters Competition HubNet.nlogo
/HubNet Activities/Critter Designers HubNet.nlogo
/HubNet Activities/Fish Spotters HubNet.nlogo
/HubNet Activities/Oil Cartel HubNet.nlogo
/IABM Textbook/chapter 0/Turtles Circling Simple.png
/IABM Textbook/chapter 1/Ants Simple.png
/IABM Textbook/chapter 2/Heroes and Cowards.png
/IABM Textbook/chapter 2/Life Simple.png
/IABM Textbook/chapter 2/Simple Economy.png
/IABM Textbook/chapter 3/DLA Extensions/DLA Simple Extension 1.png
/IABM Textbook/chapter 3/DLA Extensions/DLA Simple Extension 2.png
/IABM Textbook/chapter 3/DLA Extensions/DLA Simple Extension 3.png
/IABM Textbook/chapter 3/DLA Extensions/DLA Simple.png
/IABM Textbook/chapter 3/El Farol Extensions/El Farol Extension 1.png
/IABM Textbook/chapter 3/El Farol Extensions/El Farol Extension 2.png
/IABM Textbook/chapter 3/El Farol Extensions/El Farol Extension 3.png
/IABM Textbook/chapter 3/El Farol Extensions/El Farol.png
/IABM Textbook/chapter 3/Fire Extensions/Fire Simple Extension 1.png
/IABM Textbook/chapter 3/Fire Extensions/Fire Simple Extension 2.png
/IABM Textbook/chapter 3/Fire Extensions/Fire Simple Extension 3.png
/IABM Textbook/chapter 3/Fire Extensions/Fire Simple.png
/IABM Textbook/chapter 3/Segregation Extensions/Segregation Simple Extension 1.png
/IABM Textbook/chapter 3/Segregation Extensions/Segregation Simple Extension 2.png
/IABM Textbook/chapter 3/Segregation Extensions/Segregation Simple Extension 3.png
/IABM Textbook/chapter 3/Segregation Extensions/Segregation Simple.png
/IABM Textbook/chapter 4/Wolf Sheep Simple 1.png
/IABM Textbook/chapter 4/Wolf Sheep Simple 2.png
/IABM Textbook/chapter 4/Wolf Sheep Simple 3.png
/IABM Textbook/chapter 4/Wolf Sheep Simple 4.png
/IABM Textbook/chapter 4/Wolf Sheep Simple 5.png
/IABM Textbook/chapter 5/Agentset Efficiency.png
/IABM Textbook/chapter 5/Agentset Ordering.png
/IABM Textbook/chapter 5/Communication-T-T Network Example.png
/IABM Textbook/chapter 5/Preferential Attachment Simple.png
/IABM Textbook/chapter 5/Random Network.png
/IABM Textbook/chapter 5/Traffic Basic Adaptive Individuals.png
/IABM Textbook/chapter 5/Traffic Basic Adaptive.png
/IABM Textbook/chapter 5/Traffic Basic Utility.png
/IABM Textbook/chapter 5/Traffic Grid Goal.png
/IABM Textbook/chapter 6/Spread of Disease.png
/IABM Textbook/chapter 7/Voting Component Verification.png
/IABM Textbook/chapter 7/Voting Sensitivity Analysis.png
/IABM Textbook/chapter 8/Run Example.png
/IABM Textbook/chapter 8/Run Result Example.png
/IABM Textbook/chapter 8/Sandpile Simple.png
/IABM Textbook/chapter 8/Simple Machine Learning.png
/IABM Textbook/chapter 8/Simple Viral Marketing.png
/IABM Textbook/chapter 8/Ticket Sales.png
/Sample Models/Art/Diffusion Graphics.png
/Sample Models/Art/Fireworks.png
/Sample Models/Art/Follower.png
/Sample Models/Art/GenJam - Duple.png
/Sample Models/Art/Optical Illusions.png
/Sample Models/Art/Sound Machines.png
/Sample Models/Art/Unverified/Geometron Top-Down.png
/Sample Models/Art/Unverified/Kaleidoscope.png
/Sample Models/Biology/AIDS.png
/Sample Models/Biology/Ant Lines.png
/Sample Models/Biology/Ants.png
/Sample Models/Biology/Autumn.png
/Sample Models/Biology/BeeSmart Hive Finding.png
/Sample Models/Biology/Daisyworld.png
/Sample Models/Biology/Disease Solo.png
/Sample Models/Biology/Fairy Circles.png
/Sample Models/Biology/Evolution/Altruism.png
/Sample Models/Biology/Evolution/Anisogamy.png
/Sample Models/Biology/Evolution/Bacterial Infection.png
/Sample Models/Biology/Evolution/Bug Hunt Camouflage.png
/Sample Models/Biology/Evolution/Bug Hunt Speeds.png
/Sample Models/Biology/Evolution/Cooperation.png
/Sample Models/Biology/Evolution/Echo.png
/Sample Models/Biology/Evolution/Ethnocentrism.nlogo
/Sample Models/Biology/Evolution/Ethnocentrism.png
/Sample Models/Biology/Evolution/Genetic Drift/GenDrift P global.png
/Sample Models/Biology/Evolution/Genetic Drift/GenDrift P local.png
/Sample Models/Biology/Evolution/Genetic Drift/GenDrift T interact.png
/Sample Models/Biology/Evolution/Genetic Drift/GenDrift T reproduce.png
/Sample Models/Biology/Evolution/Mammoths.png
/Sample Models/Biology/Evolution/Mimicry.png
/Sample Models/Biology/Evolution/Peppered Moths.png
/Sample Models/Biology/Evolution/Sunflower Biomorphs.png
/Sample Models/Biology/Evolution/Unverified/Divide The Cake.png
/Sample Models/Biology/Fireflies.png
/Sample Models/Biology/Flocking Vee Formations.png
/Sample Models/Biology/Flocking.png
/Sample Models/Biology/Fur.png
/Sample Models/Biology/Heatbugs.png
/Sample Models/Biology/Honeycomb.png
/Sample Models/Biology/Membrane Formation.png
/Sample Models/Biology/Moths.png
/Sample Models/Biology/Muscle Development.png
/Sample Models/Biology/Rabbits Grass Weeds.png
/Sample Models/Biology/Shepherds.png
/Sample Models/Biology/Simple Birth Rates.png
/Sample Models/Biology/Slime.png
/Sample Models/Biology/Sunflower Emergent.png
/Sample Models/Biology/Sunflower.png
/Sample Models/Biology/Termites.png
/Sample Models/Biology/Tumor.png
/Sample Models/Biology/Unverified/Algae.png
/Sample Models/Biology/Unverified/Honeycomb.png
/Sample Models/Biology/Unverified/Plant Growth.png
/Sample Models/Biology/Unverified/Wolf Sheep Stride Inheritance.png
/Sample Models/Biology/Virus.png
/Sample Models/Biology/Wolf Sheep Predation.png
/Sample Models/Chemistry & Physics/Chaos in a Box.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Acids and Bases/Buffer.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Acids and Bases/Strong Acid.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Acids and Bases/Unverified/Diprotic Acid.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Acids and Bases/Weak Acid.png
/Sample Models/Chemistry & Physics/Chemical Reactions/B-Z Reaction.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Chemical Equilibrium.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Enzyme Kinetics.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Radical Polymerization.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Simple Kinetics 1.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Simple Kinetics 2.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Simple Kinetics 3.png
/Sample Models/Chemistry & Physics/Crystallization/Crystallization Basic.png
/Sample Models/Chemistry & Physics/Crystallization/Crystallization Directed.png
/Sample Models/Chemistry & Physics/Crystallization/Crystallization Moving.png
/Sample Models/Chemistry & Physics/Diffusion Limited Aggregation/DLA Alternate Linear.png
/Sample Models/Chemistry & Physics/Diffusion Limited Aggregation/DLA Alternate.png
/Sample Models/Chemistry & Physics/Diffusion Limited Aggregation/DLA Simple.png
/Sample Models/Chemistry & Physics/Diffusion Limited Aggregation/DLA.png
/Sample Models/Chemistry & Physics/Gas Chromatography.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Adiabatic Piston.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Atmosphere.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Circular Particles.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Free Gas.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Gas in a Box.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Gravity Box.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Isothermal Piston.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Maxwells Demon.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Single Collision.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Two Gas.png
/Sample Models/Chemistry & Physics/GasLab/Unverified/GasLab Heat Box.png
/Sample Models/Chemistry & Physics/GasLab/Unverified/GasLab Moving Piston.png
/Sample Models/Chemistry & Physics/GasLab/Unverified/GasLab Pressure Box.png
/Sample Models/Chemistry & Physics/GasLab/Unverified/GasLab Second Law.png
/Sample Models/Chemistry & Physics/Heat/Boiling.png
/Sample Models/Chemistry & Physics/Heat/Unverified/Heat Diffusion.png
/Sample Models/Chemistry & Physics/Heat/Unverified/Thermostat.png
/Sample Models/Chemistry & Physics/Ising.png
/Sample Models/Chemistry & Physics/Kicked Rotator.png
/Sample Models/Chemistry & Physics/Kicked Rotators.png
/Sample Models/Chemistry & Physics/Lennard-Jones.png
/Sample Models/Chemistry & Physics/MaterialSim/MaterialSim Grain Growth.png
/Sample Models/Chemistry & Physics/Mechanics/Random Balls.png
/Sample Models/Chemistry & Physics/Mechanics/Unverified/Gravitation.png
/Sample Models/Chemistry & Physics/Mechanics/Unverified/N-Bodies.png
/Sample Models/Chemistry & Physics/Polymer Dynamics.png
/Sample Models/Chemistry & Physics/Radioactivity/Decay.png
/Sample Models/Chemistry & Physics/Radioactivity/Unverified/Reactor Top Down.png
/Sample Models/Chemistry & Physics/Radioactivity/Unverified/Reactor X-Section.png
/Sample Models/Chemistry & Physics/Sand.png
/Sample Models/Chemistry & Physics/Sandpile.png
/Sample Models/Chemistry & Physics/Solid Diffusion.png
/Sample Models/Chemistry & Physics/Turbulence.png
/Sample Models/Chemistry & Physics/Unverified/Osmotic Pressure.png
/Sample Models/Chemistry & Physics/Unverified/Scattering.png
/Sample Models/Chemistry & Physics/Waves/Lattice Gas Automaton.png
/Sample Models/Chemistry & Physics/Waves/Rope.png
/Sample Models/Chemistry & Physics/Waves/Unverified/Doppler.png
/Sample Models/Chemistry & Physics/Waves/Unverified/Raindrops.png
/Sample Models/Chemistry & Physics/Waves/Unverified/Speakers.png
/Sample Models/Chemistry & Physics/Waves/Wave Machine.png
/Sample Models/Computer Science/Artificial Neural Net - Multilayer.png
/Sample Models/Computer Science/Artificial Neural Net - Perceptron.png
/Sample Models/Computer Science/Cellular Automata/Brian's Brain.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Elementary.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Simple Examples/CA 1D Rule 110.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Simple Examples/CA 1D Rule 250.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Simple Examples/CA 1D Rule 30 Turtle.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Simple Examples/CA 1D Rule 30.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Simple Examples/CA 1D Rule 90.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Totalistic.png
/Sample Models/Computer Science/Cellular Automata/CA Continuous.png
/Sample Models/Computer Science/Cellular Automata/CA Stochastic.png
/Sample Models/Computer Science/Cellular Automata/Life Turtle-Based.png
/Sample Models/Computer Science/Cellular Automata/Life.png
/Sample Models/Computer Science/Dining Philosophers.png
/Sample Models/Computer Science/Hex Cell Aggregation.png
/Sample Models/Computer Science/K-Means Clustering.png
/Sample Models/Computer Science/PageRank.png
/Sample Models/Computer Science/Painted Desert Challenge.png
/Sample Models/Computer Science/Particle Swarm Optimization.png
/Sample Models/Computer Science/Particle Systems/Particle System Basic.png
/Sample Models/Computer Science/Particle Systems/Particle System Flame.png
/Sample Models/Computer Science/Particle Systems/Particle System Fountain.png
/Sample Models/Computer Science/Particle Systems/Particle System Waterfall.png
/Sample Models/Computer Science/Robby the Robot.png
/Sample Models/Computer Science/SmoothLife.png
/Sample Models/Computer Science/Turing Machine 2D.png
/Sample Models/Computer Science/Unverified/Merge Sort.png
/Sample Models/Computer Science/Unverified/Simulated Annealing.png
/Sample Models/Computer Science/Vants.png
/Sample Models/Computer Science/Wandering Letters.png
/Sample Models/Earth Science/Climate Change.png
/Sample Models/Earth Science/Continental Divide.png
/Sample Models/Earth Science/Erosion.png
/Sample Models/Earth Science/Fire.png
/Sample Models/Earth Science/Grand Canyon.png
/Sample Models/Earth Science/Percolation.png
/Sample Models/Earth Science/Unverified/Lightning.png
/Sample Models/Games/Frogger.png
/Sample Models/Games/Lunar Lander.png
/Sample Models/Games/Minesweeper.png
/Sample Models/Games/Pac-Man.png
/Sample Models/Games/Planarity.png
/Sample Models/Games/Tetris.png
/Sample Models/Games/Unverified/Pac-Man Level Editor.png
/Sample Models/Games/Unverified/Projectile Attack.png
/Sample Models/Mathematics/3D Solids.png
/Sample Models/Mathematics/3D Surface.png
/Sample Models/Mathematics/Color Fractions.png
/Sample Models/Mathematics/Conic Sections 1.png
/Sample Models/Mathematics/Conic Sections 2.png
/Sample Models/Mathematics/Division.png
/Sample Models/Mathematics/Fractals/Koch Curve.png
/Sample Models/Mathematics/Fractals/L-System Fractals.png
/Sample Models/Mathematics/Fractals/Mandelbrot.png
/Sample Models/Mathematics/Fractals/Sierpinski Simple.png
/Sample Models/Mathematics/Fractals/Star Fractal.png
/Sample Models/Mathematics/Fractals/Tree Simple.png
/Sample Models/Mathematics/Mousetraps.png
/Sample Models/Mathematics/Probability/Binomial Rabbits.png
/Sample Models/Mathematics/Probability/Birthdays.png
/Sample Models/Mathematics/Probability/Galton Box.png
/Sample Models/Mathematics/Probability/ProbLab/Dice Stalagmite.png
/Sample Models/Mathematics/Probability/ProbLab/Dice.png
/Sample Models/Mathematics/Probability/ProbLab/ProbLab Genetics.png
/Sample Models/Mathematics/Probability/ProbLab/Random Basic.png
/Sample Models/Mathematics/Probability/ProbLab/Stochastic Patchwork.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/9-Blocks.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Central Limit Theorem.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Expected Value Advanced.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Expected Value.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Random Basic Advanced.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Random Combinations and Permutations.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Sample Stalagmite.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Shuffle Board.png
/Sample Models/Mathematics/Probability/Random Walk 360.png
/Sample Models/Mathematics/Probability/Three Doors.png
/Sample Models/Mathematics/Probability/Unverified/Random Walk Left Right.png
/Sample Models/Mathematics/Pursuit.png
/Sample Models/Mathematics/Rugby.png
/Sample Models/Mathematics/Turtles Circling.png
/Sample Models/Mathematics/Unverified/PANDA BEAR Solo.png
/Sample Models/Mathematics/Unverified/Surface Walking 2D.png
/Sample Models/Mathematics/Vector Fields.png
/Sample Models/Mathematics/Voronoi - Emergent.png
/Sample Models/Mathematics/Voronoi.png
/Sample Models/Networks/Diffusion on a Directed Network.png
/Sample Models/Networks/Giant Component.png
/Sample Models/Networks/Preferential Attachment.png
/Sample Models/Networks/Small Worlds.png
/Sample Models/Networks/Team Assembly.png
/Sample Models/Networks/Virus on a Network.png
/Sample Models/Philosophy/Signaling Game.png
/Sample Models/Social Science/El Farol.png
/Sample Models/Social Science/Ethnocentrism.png
/Sample Models/Social Science/Hotelling's Law.png
/Sample Models/Social Science/Language Change.png
/Sample Models/Social Science/Minority Game.png
/Sample Models/Social Science/Party.png
/Sample Models/Social Science/Paths.png
/Sample Models/Psychology/Piaget-Vygotsky Game.png
/Sample Models/Social Science/Rebellion.png
/Sample Models/Social Science/Rumor Mill.png
/Sample Models/Social Science/Scatter.png
/Sample Models/Social Science/Segregation.png
/Sample Models/Social Science/Sugarscape/Sugarscape 1 Immediate Growback.png
/Sample Models/Social Science/Sugarscape/Sugarscape 2 Constant Growback.png
/Sample Models/Social Science/Sugarscape/Sugarscape 3 Wealth Distribution.png
/Sample Models/Social Science/Traffic 2 Lanes.png
/Sample Models/Social Science/Traffic Basic.png
/Sample Models/Social Science/Traffic Grid.png
/Sample Models/Social Science/Unverified/Artificial Anasazi.png
/Sample Models/Social Science/Unverified/Bank Reserves.png
/Sample Models/Social Science/Unverified/Cash Flow.png
/Sample Models/Social Science/Unverified/Minority Game.png
/Sample Models/Social Science/Unverified/Prisoner's Dilemma/PD Basic Evolutionary.png
/Sample Models/Social Science/Unverified/Prisoner's Dilemma/PD Basic.png
/Sample Models/Social Science/Unverified/Prisoner's Dilemma/PD N-Person Iterated.png
/Sample Models/Social Science/Unverified/Prisoner's Dilemma/PD Two Person Iterated.png
/Sample Models/Social Science/Unverified/Traffic Intersection.png
/Sample Models/Social Science/Voting.png
/Sample Models/Social Science/Wealth Distribution.png
/Sample Models/System Dynamics/Unverified/Tabonuco Yagrumo Hybrid.png
/Sample Models/System Dynamics/Wolf Sheep Predation (Docked Hybrid).png
/Sample Models/Biology/Unverified/Tabonuco Yagrumo Hybrid.nlogo
/Sample Models/Biology/Unverified/Tabonuco Yagrumo.nlogo
/Sample Models/Chemistry & Physics/Diffusion Limited Aggregation/DLA Simple.nlogo
/Sample Models/Social Science/AIDS.nlogo
/Sample Models/Social Science/Altruism.nlogo
/Sample Models/Social Science/Cooperation.nlogo
/Sample Models/Social Science/El Farol.nlogo
/Sample Models/Social Science/Simple Birth Rates.nlogo
/Sample Models/Social Science/Team Assembly.nlogo
/Sample Models/Social Science/Unverified/Divide The Cake.nlogo
Curricular Models/BEAGLE Evolution/Altruism.png
Curricular Models/BEAGLE Evolution/Bug Hunt Camouflage.png
Curricular Models/BEAGLE Evolution/Bug Hunt Speeds.png
Curricular Models/BEAGLE Evolution/Cooperation.png
Curricular Models/BEAGLE Evolution/Daisyworld.png
Curricular Models/BEAGLE Evolution/GenDrift T interact.png
Curricular Models/BEAGLE Evolution/Guppy Spots HubNet.png
Curricular Models/BEAGLE Evolution/HubNet Activities/Bug Hunters Camouflage HubNet.png
Curricular Models/BEAGLE Evolution/Mimicry.png
Curricular Models/BEAGLE Evolution/Wolf Sheep Predation.png
Curricular Models/ProbLab/9-Blocks.png
Curricular Models/ProbLab/Central Limit Theorem.png
Curricular Models/ProbLab/Dice Stalagmite.png
Curricular Models/ProbLab/Dice.png
Curricular Models/ProbLab/Equidistant Probability.png
Curricular Models/ProbLab/Expected Value Advanced.png
Curricular Models/ProbLab/Expected Value.png
Curricular Models/ProbLab/Partition Permutation Distribution.png
Curricular Models/ProbLab/Prob Graphs Basic.png
Curricular Models/ProbLab/ProbLab Genetics.png
Curricular Models/ProbLab/Random Basic Advanced.png
Curricular Models/ProbLab/Random Basic.png
Curricular Models/ProbLab/Random Combinations and Permutations.png
Curricular Models/ProbLab/Sample Stalagmite.png
Curricular Models/ProbLab/Shuffle Board.png
Curricular Models/ProbLab/Stochastic Patchwork.png
Curricular Models/Lattice Land/Lattice Land - Triangles Dissection.png
Curricular Models/Lattice Land/Lattice Land - Triangles Explore.png
HubNet Activities/Oil Cartel HubNet.png
Sample Models/Biology/Unverified/Tabonuco Yagrumo Hybrid.png
Sample Models/Biology/Unverified/Tabonuco Yagrumo.png
Sample Models/Social Science/AIDS.png
Sample Models/Social Science/Altruism.png
Sample Models/Social Science/Cooperation.png
Sample Models/Social Science/Simple Birth Rates.png
Sample Models/Social Science/Team Assembly.png
Sample Models/Social Science/Unverified/Divide The Cake.png
Curricular Models/BEAGLE Evolution/HubNet Activities/glacier.jpg
Curricular Models/BEAGLE Evolution/HubNet Activities/poppyfield.jpg
Curricular Models/BEAGLE Evolution/HubNet Activities/seashore.jpg
Curricular Models/BEAGLE Evolution/aquarium.jpg
Curricular Models/BEAGLE Evolution/glacier.jpg
Curricular Models/BEAGLE Evolution/poppyfield.jpg
Curricular Models/BEAGLE Evolution/seashore.jpg
/.cache-main
/.cache-tests
*.tmp.nlogo
*.tmp.nlogo3d
