*~
.DS_Store
/test/applet/NetLogo.jar
/test/applet/NetLogoLite.jar
/test/benchmarks/firebig.csv
/index.txt
/Code Examples/Ask Ordering Example.png
/Code Examples/Ask-Concurrent Example.png
/Code Examples/Bounce Example.png
/Code Examples/Box Drawing Example.png
/Code Examples/Breed Procedures Example.png
/Code Examples/Breeds and Shapes Example.png
/Code Examples/Circular Path Example.png
/Code Examples/Color Chart Example.png
/Code Examples/Communication-T-P Example.png
/Code Examples/Communication-T-T Example.png
/Code Examples/Diffuse Off Edges Example.png
/Code Examples/Fully Connected Network Example.png
/Code Examples/GIS/GIS General Examples.png
/Code Examples/GIS/GIS Gradient Example.png
/Code Examples/Grouping Turtles Example.png
/Code Examples/HSB and RGB Example.png
/Code Examples/Halo Example.png
/Code Examples/Hatch Example.png
/Code Examples/Hex Cells Example.png
/Code Examples/Hex Turtles Example.png
/Code Examples/Hill Climbing Example.png
/Code Examples/Histogram Example.png
/Code Examples/Image Import Example.png
/Code Examples/Intersecting Lines Example.png
/Code Examples/Intersecting Links Example.png
/Code Examples/Label Position Example.png
/Code Examples/Lattice-Walking Turtles Example.png
/Code Examples/Line of Sight Example.png
/Code Examples/Link Breeds Example.png
/Code Examples/Link Lattice Example.png
/Code Examples/Link-Walking Turtles Example.png
/Code Examples/Look Ahead Example.png
/Code Examples/Lottery Example.png
/Code Examples/Mobile Aggregation Example.png
/Code Examples/Moore & Von Neumann Example.png
/Code Examples/Mouse Drag Multiple Example.png
/Code Examples/Mouse Drag One Example.png
/Code Examples/Move Towards Target Example.png
/Code Examples/Movie Example.png
/Code Examples/Myself Example.png
/Code Examples/Neighborhoods Example.png
/Code Examples/Network Example.png
/Code Examples/Network Import Example.png
/Code Examples/Next Patch Example.png
/Code Examples/One Turtle Per Patch Example.png
/Code Examples/Partners Example.png
/Code Examples/Patch Clusters Example.png
/Code Examples/Patch Coordinates Example.png
/Code Examples/Perspective Demos/GasLab Gas in a Box (Perspective Demo).png
/Code Examples/Random Grid Walk Example.png
/Code Examples/Random Network Example.png
/Code Examples/Random Seed Example.png
/Code Examples/Random Walk Example.png
/Code Examples/Scale-color Example.png
/Code Examples/Scatter Example.png
/Code Examples/Shape Animation Example.png
/Code Examples/State Machine Example.png
/Code Examples/Tie System Example.png
/Code Examples/Transparency Example.png
/Code Examples/Tutorial 3.png
/Code Examples/Vision Cone Example.png
/Code Examples/Wall Following Example.png
/Curricular Models/BEAGLE Evolution/Bird Breeder.png
/Curricular Models/BEAGLE Evolution/Bug Hunt Coevolution.png
/Curricular Models/BEAGLE Evolution/Bug Hunt Consumers.png
/Curricular Models/BEAGLE Evolution/Bug Hunt Drift.png
/Curricular Models/BEAGLE Evolution/Bug Hunt Predators and Invasive Species.png
/Curricular Models/BEAGLE Evolution/DNA Protein Synthesis.png
/Curricular Models/BEAGLE Evolution/DNA Replication Fork.png
/Curricular Models/BEAGLE Evolution/Fish Tank Genetic Drift.png
/Curricular Models/BEAGLE Evolution/Plant Hybridization.png
/Curricular Models/BEAGLE Evolution/Plant Speciation.png
/Curricular Models/BEAGLE Evolution/Red Queen.png
/Curricular Models/Connected Chemistry/Connected Chemistry 1 Bike Tire.png
/Curricular Models/Connected Chemistry/Connected Chemistry 3 Circular Particles.png
/Curricular Models/Connected Chemistry/Connected Chemistry 5 Temperature and Pressure.png
/Curricular Models/Connected Chemistry/Connected Chemistry 6 Volume and Pressure.png
/Curricular Models/Connected Chemistry/Connected Chemistry 8 Gas Particle Sandbox.png
/Curricular Models/Connected Chemistry/Connected Chemistry Atmosphere.png
/Curricular Models/Connected Chemistry/Connected Chemistry Gas Combustion.png
/Curricular Models/Connected Chemistry/Connected Chemistry Reversible Reaction.png
/Curricular Models/Connected Chemistry/Connected Chemistry Rusting Reaction.png
/Curricular Models/Connected Chemistry/Connected Chemistry Solid Combustion.png
/Curricular Models/ProbLab/4 Block Stalagmites.png
/Curricular Models/ProbLab/4 Block Two Stalagmites.png
/Curricular Models/ProbLab/4 Blocks.png
/Curricular Models/ProbLab/Histo Blocks.png
/Curricular Models/Urban Suite/Urban Suite - Awareness.png
/Curricular Models/Urban Suite/Urban Suite - Cells.png
/Curricular Models/Urban Suite/Urban Suite - Economic Disparity.png
/Curricular Models/Urban Suite/Urban Suite - Path Dependence.png
/Curricular Models/Urban Suite/Urban Suite - Pollution.png
/Curricular Models/Urban Suite/Urban Suite - Positive Feedback.png
/Curricular Models/Urban Suite/Urban Suite - Recycling.png
/Curricular Models/Urban Suite/Urban Suite - Sprawl Effect.png
/Curricular Models/Urban Suite/Urban Suite - Structure from Randomness 1.png
/Curricular Models/Urban Suite/Urban Suite - Structure from Randomness 2.png
/Curricular Models/Urban Suite/Urban Suite - Tijuana Bordertowns.png
/Curricular Models/epiDEM/epiDEM Basic.png
/Curricular Models/epiDEM/epiDEM Travel and Control.png
/Sample Models/Art/Diffusion Graphics.png
/Sample Models/Art/Fireworks.png
/Sample Models/Art/Follower.png
/Sample Models/Art/Optical Illusions.png
/Sample Models/Art/Sound Machines.png
/Sample Models/Art/Unverified/Geometron Top-Down.png
/Sample Models/Art/Unverified/Kaleidoscope.png
/Sample Models/Biology/AIDS.png
/Sample Models/Biology/Ant Lines.png
/Sample Models/Biology/Ants.png
/Sample Models/Biology/Autumn.png
/Sample Models/Biology/Daisyworld.png
/Sample Models/Biology/Disease Solo.png
/Sample Models/Biology/Evolution/Altruism.png
/Sample Models/Biology/Evolution/Bug Hunt Camouflage.png
/Sample Models/Biology/Evolution/Bug Hunt Speeds.png
/Sample Models/Biology/Evolution/Cooperation.png
/Sample Models/Biology/Evolution/Echo.png
/Sample Models/Biology/Evolution/Genetic Drift/GenDrift P global.png
/Sample Models/Biology/Evolution/Genetic Drift/GenDrift P local.png
/Sample Models/Biology/Evolution/Genetic Drift/GenDrift T interact.png
/Sample Models/Biology/Evolution/Genetic Drift/GenDrift T reproduce.png
/Sample Models/Biology/Evolution/Mimicry.png
/Sample Models/Biology/Evolution/Peppered Moths.png
/Sample Models/Biology/Evolution/Sunflower Biomorphs.png
/Sample Models/Biology/Evolution/Unverified/Divide The Cake.png
/Sample Models/Biology/Fireflies.png
/Sample Models/Biology/Flocking Vee Formations.png
/Sample Models/Biology/Flocking.png
/Sample Models/Biology/Fur.png
/Sample Models/Biology/Heatbugs.png
/Sample Models/Biology/Moths.png
/Sample Models/Biology/Muscle Development.png
/Sample Models/Biology/Rabbits Grass Weeds.png
/Sample Models/Biology/Shepherds.png
/Sample Models/Biology/Simple Birth Rates.png
/Sample Models/Biology/Slime.png
/Sample Models/Biology/Sunflower Emergent.png
/Sample Models/Biology/Sunflower.png
/Sample Models/Biology/Termites.png
/Sample Models/Biology/Tumor.png
/Sample Models/Biology/Unverified/Algae.png
/Sample Models/Biology/Unverified/Honeycomb.png
/Sample Models/Biology/Unverified/Plant Growth.png
/Sample Models/Biology/Unverified/Wolf Sheep Stride Inheritance.png
/Sample Models/Biology/Virus.png
/Sample Models/Biology/Wolf Sheep Predation.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Acids and Bases/Buffer.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Acids and Bases/Strong Acid.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Acids and Bases/Unverified/Diprotic Acid.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Acids and Bases/Weak Acid.png
/Sample Models/Chemistry & Physics/Chemical Reactions/B-Z Reaction.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Enzyme Kinetics.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Radical Polymerization.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Simple Kinetics 1.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Simple Kinetics 2.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Simple Kinetics 3.png
/Sample Models/Chemistry & Physics/Chemical Reactions/Unverified/Chemical Equilibrium.png
/Sample Models/Chemistry & Physics/Crystallization/Crystallization Basic.png
/Sample Models/Chemistry & Physics/Crystallization/Crystallization Directed.png
/Sample Models/Chemistry & Physics/Crystallization/Crystallization Moving.png
/Sample Models/Chemistry & Physics/Diffusion Limited Aggregation/DLA Alternate Linear.png
/Sample Models/Chemistry & Physics/Diffusion Limited Aggregation/DLA Alternate.png
/Sample Models/Chemistry & Physics/Diffusion Limited Aggregation/DLA Simple.png
/Sample Models/Chemistry & Physics/Diffusion Limited Aggregation/DLA.png
/Sample Models/Chemistry & Physics/Gas Chromatography.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Adiabatic Piston.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Atmosphere.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Circular Particles.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Free Gas.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Gas in a Box.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Gravity Box.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Isothermal Piston.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Maxwells Demon.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Single Collision.png
/Sample Models/Chemistry & Physics/GasLab/GasLab Two Gas.png
/Sample Models/Chemistry & Physics/GasLab/Unverified/GasLab Heat Box.png
/Sample Models/Chemistry & Physics/GasLab/Unverified/GasLab Moving Piston.png
/Sample Models/Chemistry & Physics/GasLab/Unverified/GasLab Pressure Box.png
/Sample Models/Chemistry & Physics/GasLab/Unverified/GasLab Second Law.png
/Sample Models/Chemistry & Physics/Heat/Boiling.png
/Sample Models/Chemistry & Physics/Heat/Unverified/Heat Diffusion.png
/Sample Models/Chemistry & Physics/Heat/Unverified/Thermostat.png
/Sample Models/Chemistry & Physics/Ising.png
/Sample Models/Chemistry & Physics/MaterialSim/MaterialSim Grain Growth.png
/Sample Models/Chemistry & Physics/Mechanics/Random Balls.png
/Sample Models/Chemistry & Physics/Mechanics/Unverified/Gravitation.png
/Sample Models/Chemistry & Physics/Mechanics/Unverified/N-Bodies.png
/Sample Models/Chemistry & Physics/Polymer Dynamics.png
/Sample Models/Chemistry & Physics/Radioactivity/Decay.png
/Sample Models/Chemistry & Physics/Radioactivity/Unverified/Reactor Top Down.png
/Sample Models/Chemistry & Physics/Radioactivity/Unverified/Reactor X-Section.png
/Sample Models/Chemistry & Physics/Sand.png
/Sample Models/Chemistry & Physics/Sandpile.png
/Sample Models/Chemistry & Physics/Solid Diffusion.png
/Sample Models/Chemistry & Physics/Turbulence.png
/Sample Models/Chemistry & Physics/Unverified/Osmotic Pressure.png
/Sample Models/Chemistry & Physics/Unverified/Scattering.png
/Sample Models/Chemistry & Physics/Waves/Lattice Gas Automaton.png
/Sample Models/Chemistry & Physics/Waves/Rope.png
/Sample Models/Chemistry & Physics/Waves/Unverified/Doppler.png
/Sample Models/Chemistry & Physics/Waves/Unverified/Raindrops.png
/Sample Models/Chemistry & Physics/Waves/Unverified/Speakers.png
/Sample Models/Chemistry & Physics/Waves/Wave Machine.png
/Sample Models/Computer Science/Cellular Automata/Brian's Brain.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Elementary.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Simple Examples/CA 1D Rule 110.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Simple Examples/CA 1D Rule 250.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Simple Examples/CA 1D Rule 30 Turtle.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Simple Examples/CA 1D Rule 30.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Simple Examples/CA 1D Rule 90.png
/Sample Models/Computer Science/Cellular Automata/CA 1D Totalistic.png
/Sample Models/Computer Science/Cellular Automata/CA Continuous.png
/Sample Models/Computer Science/Cellular Automata/CA Stochastic.png
/Sample Models/Computer Science/Cellular Automata/Life Turtle-Based.png
/Sample Models/Computer Science/Cellular Automata/Life.png
/Sample Models/Computer Science/Dining Philosophers.png
/Sample Models/Computer Science/Hex Cell Aggregation.png
/Sample Models/Computer Science/PageRank.png
/Sample Models/Computer Science/Painted Desert Challenge.png
/Sample Models/Computer Science/Particle Swarm Optimization.png
/Sample Models/Computer Science/Particle Systems/Particle System Basic.png
/Sample Models/Computer Science/Particle Systems/Particle System Flame.png
/Sample Models/Computer Science/Particle Systems/Particle System Fountain.png
/Sample Models/Computer Science/Particle Systems/Particle System Waterfall.png
/Sample Models/Computer Science/Perceptron.png
/Sample Models/Computer Science/Robby the Robot.png
/Sample Models/Computer Science/Turing Machine 2D.png
/Sample Models/Computer Science/Unverified/Artificial Neural Net.png
/Sample Models/Computer Science/Unverified/Merge Sort.png
/Sample Models/Computer Science/Unverified/Simulated Annealing.png
/Sample Models/Computer Science/Vants.png
/Sample Models/Computer Science/Wandering Letters.png
/Sample Models/Earth Science/Climate Change.png
/Sample Models/Earth Science/Continental Divide.png
/Sample Models/Earth Science/Erosion.png
/Sample Models/Earth Science/Fire.png
/Sample Models/Earth Science/Grand Canyon.png
/Sample Models/Earth Science/Percolation.png
/Sample Models/Earth Science/Unverified/Lightning.png
/Sample Models/Games/Lunar Lander.png
/Sample Models/Games/Minesweeper.png
/Sample Models/Games/Pac-Man.png
/Sample Models/Games/Planarity.png
/Sample Models/Games/Tetris.png
/Sample Models/Games/Unverified/Pac-Man Level Editor.png
/Sample Models/Games/Unverified/Projectile Attack.png
/Sample Models/Mathematics/3D Solids.png
/Sample Models/Mathematics/3D Surface.png
/Sample Models/Mathematics/Color Fractions.png
/Sample Models/Mathematics/Conic Sections 1.png
/Sample Models/Mathematics/Conic Sections 2.png
/Sample Models/Mathematics/Division.png
/Sample Models/Mathematics/Fractals/Koch Curve.png
/Sample Models/Mathematics/Fractals/L-System Fractals.png
/Sample Models/Mathematics/Fractals/Mandelbrot.png
/Sample Models/Mathematics/Fractals/Sierpinski Simple.png
/Sample Models/Mathematics/Fractals/Star Fractal.png
/Sample Models/Mathematics/Fractals/Tree Simple.png
/Sample Models/Mathematics/Mousetraps.png
/Sample Models/Mathematics/Probability/Binomial Rabbits.png
/Sample Models/Mathematics/Probability/Birthdays.png
/Sample Models/Mathematics/Probability/Galton Box.png
/Sample Models/Mathematics/Probability/ProbLab/Dice Stalagmite.png
/Sample Models/Mathematics/Probability/ProbLab/Stochastic Patchwork.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/9-Blocks.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Expected Value Advanced.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/ProbLab Genetics.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Random Basic Advanced.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Sample Stalagmite.png
/Sample Models/Mathematics/Probability/ProbLab/Unverified/Shuffle Board.png
/Sample Models/Mathematics/Probability/Random Walk 360.png
/Sample Models/Mathematics/Probability/Three Doors.png
/Sample Models/Mathematics/Probability/Unverified/Random Walk Left Right.png
/Sample Models/Mathematics/Pursuit.png
/Sample Models/Mathematics/Rugby.png
/Sample Models/Mathematics/Turtles Circling.png
/Sample Models/Mathematics/Unverified/PANDA BEAR Solo.png
/Sample Models/Mathematics/Unverified/Surface Walking 2D.png
/Sample Models/Mathematics/Vector Fields.png
/Sample Models/Mathematics/Voronoi.png
/Sample Models/Networks/Diffusion on a Directed Network.png
/Sample Models/Networks/Giant Component.png
/Sample Models/Networks/Preferential Attachment.png
/Sample Models/Networks/Small Worlds.png
/Sample Models/Networks/Team Assembly.png
/Sample Models/Networks/Virus on a Network.png
/Sample Models/Social Science/El Farol.png
/Sample Models/Social Science/Ethnocentrism.png
/Sample Models/Social Science/Language Change.png
/Sample Models/Social Science/Party.png
/Sample Models/Social Science/Rebellion.png
/Sample Models/Social Science/Rumor Mill.png
/Sample Models/Social Science/Scatter.png
/Sample Models/Social Science/Segregation.png
/Sample Models/Social Science/Sugarscape/Sugarscape 1 Immediate Growback.png
/Sample Models/Social Science/Sugarscape/Sugarscape 2 Constant Growback.png
/Sample Models/Social Science/Sugarscape/Sugarscape 3 Wealth Distribution.png
/Sample Models/Social Science/Traffic Basic.png
/Sample Models/Social Science/Traffic Grid.png
/Sample Models/Social Science/Unverified/Bank Reserves.png
/Sample Models/Social Science/Unverified/Cash Flow.png
/Sample Models/Social Science/Unverified/El Farol Network Congestion.png
/Sample Models/Social Science/Unverified/Hotelling's Law.png
/Sample Models/Social Science/Unverified/Minority Game.png
/Sample Models/Social Science/Unverified/Prisoner's Dilemma/PD Basic Evolutionary.png
/Sample Models/Social Science/Unverified/Prisoner's Dilemma/PD Basic.png
/Sample Models/Social Science/Unverified/Prisoner's Dilemma/PD N-Person Iterated.png
/Sample Models/Social Science/Unverified/Prisoner's Dilemma/PD Two Person Iterated.png
/Sample Models/Social Science/Unverified/Traffic 2 Lanes.png
/Sample Models/Social Science/Unverified/Traffic Intersection.png
/Sample Models/Social Science/Voting.png
/Sample Models/Social Science/Wealth Distribution.png
/Sample Models/System Dynamics/Unverified/Tabonuco Yagrumo Hybrid.png
/Sample Models/System Dynamics/Wolf Sheep Predation (docked).png
